{% extends 'usersapp/index.html' %}

{% block head %} 
    <p>Голова страницы объектов</p>
{% endblock%}

{% block content %}
    <p>Страница объектов</p>
    {% for object in companies %}
        <div class="card mt-3" style="width: 36rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.memberName }}</h5>
            <p class="card-text">{{ object.description }}</p>
            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
        </div>
        </div>
    {% endfor %}
{% endblock %}