{% extends 'usersapp/index.html' %}

{% block head %} 
    <h1><b>{{ company.memberName }}</b></h1>
{% endblock%}

{% block content %}

<div class="card" style="width: 36rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ company.memberName }}</h5>
    <p class="card-text">{{ company.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <div id="order">
        <li class="list-group-item">
          <a class="btn btn-light" href="#" role="button">Получить бронь</a>
        </li>
  </div>
  </ul>
  <div class="card-body">
    <li class="list-group-item"><a class="btn btn-light" href="#" role="button">Отправить</a></li>
  </div>
</div>

{% endblock %}